<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shift Scheduler Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <button class="btn btn-info" id="schedule_button" style="margin: 1%;">Schedule Shift</a></button>
        <button class="btn btn-info" id="report_button" style="margin: 1%;">Shift Report</a></button>
        <button class="btn btn-info" id="admin_button" style="margin: 1%;">Admin Page</a></button>
    </header>
    <h1 style="margin-left: 2%;">Home Page</h1>
    <script>
        document.getElementById('schedule_button').onclick = function () {
            location.href = "{% url 'scheduler:schedule_shift' %}"
          };
          document.getElementById('report_button').onclick = function () {
            location.href = "{% url 'scheduler:shift_report' %}"
          };
          document.getElementById('admin_button').onclick = function () {
            location.href = "{% url 'admin:index' %}"
          };
    </script>
</body>
</html>