<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Schedule Shift</title>
  </head>
  <body>
    <header>
      <button><a href="{% url 'scheduler:index' %}">Home Page</a></button>
      <button><a href="{% url 'scheduler:shift_report' %}">Shift Report</a></button>
    </header>
    <h1>Schedule Shift</h1>
    <br />
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-primary" style="margin: 2%;">Submit</button>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="successModalLabel">Success</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">Shift Scheduled successfully!</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script>
          document.addEventListener("DOMContentLoaded", function() {
              {% if success %}
                  $('#successModal').modal('show');
              {% endif %}
          });
      </script>
  </body>
</html>
